<?xml version="1.0"?>
<config>
	<modules>
		<Develo_WordpressKnowledgeBase>
			<version>0.0.1</version>
		</Develo_WordpressKnowledgeBase>
	</modules>
	<global>
		<blocks>
			<wordpressknowledgebase>
				<class>Develo_WordpressKnowledgeBase_Block</class>
			</wordpressknowledgebase>
		</blocks>
		<helpers>
			<develo_wordpressknowledgebase>
				<class>Develo_WordpressKnowledgeBase_Helper</class>
			</develo_wordpressknowledgebase>
		</helpers>
	</global>
	<frontend>
		<routers>
			<knowledgebase>
				<use>standard</use>
				<args>
					<module>Develo_WordpressKnowledgeBase</module>
					<frontName>knowledge-base</frontName>
				</args>
			</knowledgebase>
		</routers>
		<layout>
			<updates>
				<Develo_WordpressKnowledgeBase>
					<file>develo_wordpressknowledgebase.xml</file>
				</Develo_WordpressKnowledgeBase>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<develo_wordpressknowledgebase>
											<title>Wordpress Knowledge Base</title>
										</develo_wordpressknowledgebase>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
</config>